/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 50px;
    border-radius:10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-height: 90vh;
    overflow-y: auto;
}

h1, h2 {
    text-align: center;
}

form label {
   display: block;
    margin-bottom: 10px;
    font-weight: bolder;
}

form input, form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form input[type="file"] {
    padding: 0;
}

form button {
    width: 100%;
    padding: 10px;
   /* background-color: #28a745;*/
    background-color: orange;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
   background-color: darkorange;
}

#pet-list ul {
    list-style-type: none;
    padding: 0;
}

#pet-list li {
    background: #f9f9f9;
    margin: 10px 0;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

#pet-list li img {
    max-width: 100px;
    margin-right: 10px;
    border-radius: 4px;
}

#pet-list li button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

#pet-list li button:hover {
    background-color: #c82333;
}

#pet-photo{
    background-color: orange;
    color: #FFFFFF;
}